.info-container{
    font-size: 20px;
    width: 40vw;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
}
.about-container{
    display: flex;
    width: 60vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.info-container h1{
    font-size: 5vw;
}
.info-container p{
    font-size: 1.5vw;
}

.p-container{ 
    display: table-cell;
    vertical-align: middle  ;
    font-size: 18px;
    font-style: 13px;
    width: 600px;
    color: #ffffff;
    opacity: 0.6;
    line-height: 30px;
    font-family: 'helvetica';
    font-weight: 300;
    min-width: fit-content;
    animation-fill-mode: forwards;
}

.Aboutme{
    font-size: 70px;
    color: #FFF;
    font-family: "helvetica";
    animation-fill-mode: forwards;
}

.p-container p:nth-child(1){
    animation: fadeIn 3s;
}
.p-container p:nth-child(2){
    animation: fadeIn 4s;
}
.p-container p:nth-child(3){
    animation: fadeIn 5s;
}

.stage-cube-container{
    display: flex;
    align-items: center;  
}


.cubespinner{
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;

    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background:rgba(255,255,255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }
    .face1{
        transform: translateZ(100px);
    }
    .face2{
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(100px);
    }

}
@keyframes spincube{
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90d  eg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateX(90deg);
    }
}

@media only screen and (max-width: 1250px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .p-container{
        width: 200px;
        line-height: 15px;
    }
    .cubespinner{
        width:200px;
    }
    .stage-cube-container{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width:1220px){
    .info-container p{
        font-size: 2vw;
        line-height: 25px;  
     }
     .logo{
        width: 80px;
    }
}

@media only screen and (max-width:720px) {
    .info-container p{
        width: 300px;
       font-size: 15px;
       line-height: 20px;
    }
    .info-container h1{
        display: flex;
        justify-content: center;
        width: 50vw;
        font-size: 40px;
    }
    .stage-cube-container{
        height: 30vh;
    }
    .logo{
        width: 80px;
    }
}


