.html{
    height: 95vh;
}
.container{
    overflow: hidden;
}
.home-container{
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}
.home-container h1{
    color: #fff;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.home-container h2{
    font-size: 17px;
}

.container{
    overflow: hidden;
    width: 70vw;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
}

.image-container{
    display: flex;
    justify-content: center;
    width: 40vw;
}


.h2front{
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
}

.contact-button{
    border: 0.1em solid #ffd700;
    padding: 20px;
    text-decoration: none;
    color: #ffd700;
    font-family: "helvetica";
    letter-spacing: 4px;
    font-weight: 400;
    white-space: nowrap;
}



.contact-button:hover{
    background-color: #ffd700;
    color: black;
    transform-style: preserve-3d;
    animation: bounceIn 1s forwards;
}

@media only screen and (max-width: 1320px){
    .myImage{
        width: 40vw;
    }
    .home-container h1{
        font-size: 45px;
    }
    .work h2{
        font-size: 20px;
    }    
    
}

@media only screen and (max-width:1090px){
    .container{
        width: 80vw;
        height: 95vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
    }
    .myImage{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
    .home-container h1{
        font-size: 5vw;
    }
    .work h2{
        font-size: 2vw;
    }   
}

@media only screen and (max-width:800px){
    .container{
        width: 80vw;
        height: 95vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
    }
    .myImage{
        width: 200px;
        height: 200px;
    }
    .home-container h1{
        font-size: 4vw;
    }
    .work h2{
        font-size: 2vw;
    }  
    .contact-button{
        padding: 10px;
        font-size: 10px;
    }
}

@media only screen and (max-width:520px){
    .container{
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .image-container{
        height: 0vh;
    }
    .myImage{
        width: 200px;
        height: 200px;
    }
    .home-container{
        height: 20vh;
    }
    .home-container h1{
        font-size: 7vw;
    }
    .work h2{
        font-size: 2vw;
    }  
    .contact-button{
        font-size: 10px;
        padding: 10px;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width:1550px){
    .container{
        width: 90vw;
    }
    
}