.Main-container{
    height: 100vh;
    width: 100vw;
}
.contact-form{
    width: 50vw;
}
.contact-container{
    display: flex;
    flex-direction: column;
    width: 60vw;

}
.text-zone{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "helvetica";
}
.contactme{
    font-size: 60px;
    margin-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-zone p{
    width: 50vw;
    font-size: 2vw;
    animation: bounceIn 0.6s 0.6s;
}

.form-container{
    padding: 0;
    list-style: none;
    line-height: 50px;
    animation: bounceIn 0.6s 0.6s;
}

.mainInfos{
    display: flex;
    flex-direction: row;
    width: 330px;
    justify-content:space-between;
}

.subject-cont{
    width: 322px;
}
.message-cont{
    width: 324px;
}
input, textarea{
    height: 30px;
    background-color: transparent;
    color: white;
    opacity: 0.6;
}

textarea{
    min-height: 150px;
}

.btn_submit{
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: end;

}   
.flat-button{
    background:0 0;
    font:11px;
    letter-spacing: 3px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width:700px){
    .text-zone p{
        display: flex;
        justify-content: center;
        font-size: 2vw;
    }
    .text-zone h1{
        font-size: 6vw;
    }
}
