.html{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    position: absolute;
}
.myLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
    height: 120px;
}

.navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    height: 100vh;
    justify-content: center;
    width: 60px;
}
.navbar a{
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 71px;
        position: relative;
        text-decoration: none;
}

.navbar a path:hover{
    transition: all 0.3s ease-out;
    color: #ffd700;
    opacity: 1;
}

.socials-container{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}
li a{
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
}   

li svg:hover{
    color: #ffd700;
}


